.user {
    position: relative;
    padding-left: 15px;
}

.user i {
    background-color: red;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 1px;
    height: 9px;
    position: absolute;
    left: 8px;
    width: 9px;
}

.user.active i {
    background-color: green;
}

#user_tasks_list > .popup-window-content {
    background-color: white;
    padding-top: 0px;
    height: 400px;
    overflow: auto;
}

#user_tasks_list > .popup-window-titlebar {
    height: 40px;
}

.access-title-bar {
    display: block;
    margin-top: 10px;
}

.modul-elapsed-time {
    display: table;
    color: #535c69;
    width:100%;
}

.modul-elapsed-time > div.user:nth-child(2n-1){
	background-color: #e5e5e5;
}
.modul-elapsed-time-head {
    height: 45px;
    background-color: #d6f1fb;
}

.modul-elapsed-time-head  .modul-elapsed-time-time {
    background-color: #c1eaf9;
}

.modul-elapsed-time .user,
.modul-elapsed-time-head {
    display: table-row;
    padding-left: 0;
}

.modul-elapsed-time .user i {
    top: 50%;
    margin-top: -6.5px;
}

.modul-elapsed-time-name,
.modul-elapsed-time-time,
.modul-elapsed-time-task {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    border-top: 1px solid #edeef0;
    -webkit-transition: background .3s cubic-bezier(.000, .465, .750, .750);
    -moz-transition: background .3s cubic-bezier(.000, .465, .750, .750);
    -o-transition: background .3s cubic-bezier(.000, .465, .750, .750);
    transition: background .3s cubic-bezier(.000, .465, .750, .750);
}

.modul-elapsed-time .user:hover .modul-elapsed-time-name,
.modul-elapsed-time .user:hover .modul-elapsed-time-time,
.modul-elapsed-time .user:hover .modul-elapsed-time-task {
    background-color: #f5f5f5;
}

.modul-elapsed-time > div:nth-child(2) .modul-elapsed-time-name,
.modul-elapsed-time > div:nth-child(2) .modul-elapsed-time-time,
.modul-elapsed-time > div:nth-child(2) .modul-elapsed-time-task,
.modul-elapsed-time > div:nth-child(3) .modul-elapsed-time-name,
.modul-elapsed-time > div:nth-child(3) .modul-elapsed-time-time,
.modul-elapsed-time > div:nth-child(3) .modul-elapsed-time-task {
    border-top: none;
}

.modul-elapsed-time-name {
    width: 30%;
    text-align: left;
    padding: 0 25px;
}

.modul-elapsed-time-time {
    width: 10%;
    text-align: center;
}

.modul-elapsed-time-task {
    width: 60%;
    text-align: left;
}

.modul-elapsed-time-name {
    position: relative;
}
